:root {
    /* Set Fade In Duration */
    --fade-time: 0.5s;
}

body {
    margin: 20px;
    padding: 0;
    background: #333;
}

.container {
    max-width: 760px;
    margin: auto;
    border: #fff solid 3px;
    background: #fff;
}

.main-img img,
.imgs img {
    width: 100%;
}

.imgs img {
    cursor: pointer;    
}

.imgs {
    display:grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 3px;
}

/* Fade In Animation */

@keyframes fadeIn {
    to{
        opacity: 1;
    }
}

.fade-in{
    opacity: 0;
    animation: fadeIn var(--fade-time) ease-in 1 forwards;
}

/* Media Quearies */
@media(max-width: 600px){
    .imgs {
        grid-template-columns: repeat(2, auto);
    }
}